@page "/profile/{profileId:int?}"
@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Ostj.Shared.Contracts
@using Ostj.Constants
@using OstjWeb.Services
@using OstjWeb.Components.Layout
@attribute [Authorize]
@rendermode InteractiveServer
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<PageTitle>Profile</PageTitle>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <EditForm EditContext="editContext" FormName="ProfileForm" OnValidSubmit="HandleProfileUpdate">
        <div class="row g-3 w-100">
            <div class="col-6 d-flex alight-items-stretch">
                <div class="card mb-3 g-3 w-100">
                    <h5 class="card-header">Desired Positions</h5>
                    <div class="card-body">
                        @for (int i = 0; i < PersonProfile.JobTitles.Length; i++)
                        {
                            var index = i;
                            <InputText class="form-control mb-3" @bind-Value="PersonProfile.JobTitles[index]"
                                maxlength="@_maxTitleLength" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex alight-items-stretch">
                <div class="card mb-3 g-3 w-100">
                    <h5 class="card-header">Desired Location</h5>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <InputText class="form-control" @bind-Value="PersonProfile.Location!.City"
                                placeholder="City" aria-label="City" />
                            <span class="input-group-text">, </span>
                            <InputText class="form-control" @bind-Value="PersonProfile.Location.StateOrRegion"
                                placeholder="State" aria-label="State" />
                            <span class="input-group-text">, </span>
                            <InputText class="form-control" @bind-Value="PersonProfile.Location.Country"
                                placeholder="Country" aria-label="Country" />
                        </div>
                        <div class="form-check form-switch">
                            <InputCheckbox class="form-check-input mb-3" @bind-Value="PersonProfile.AcceptRemote"
                                maxlength="@_maxLocationLength" />
                            <label class="form-check-label" for="switchCheckDefault">Agree for Remote</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex alight-items-stretch">
                <div class="card mb-3 g-3 w-100">
                    <h5 class="card-header">Desired Annual Compensation Range in USD</h5>
                    <div class="card-body">
                        <div class="row g-3 align-items-center">
                            <div class="col-sm-3">
                                <label for="salaryMin" class="col-form-label">Minimal</label>
                            </div>
                            <div class="col-auto">
                                <InputNumber id="salaryMin" class="form-control mb-3" aria-placeholder="e.g. 100000"
                                    @bind-Value="PersonProfile.SalaryMin" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-sm-3">
                                <label for="salaryMin" class="col-form-label">Maximum</label>
                            </div>
                            <div class="col-auto">
                                <InputNumber id="salaryMin" class="form-control mb-3" aria-placeholder="e.g. 100000"
                                    @bind-Value="PersonProfile.SalaryMax" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 d-flex alight-items-stretch">
                <div class="card mb-3 g-3 w-100">
                    <h5 class="card-header">Additional Requrirements</h5>
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <InputTextArea class="form-control" id="floatingTextarea"
                                @bind-Value="PersonProfile.ExtraRequirements" style="height: 100px"
                                maxlength="@_maxTextLength" />
                            <label for="floatingTextarea">In your free test tell us your additiona requirements (max
                                5000 chars)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (errorMessage != null)
        {
            <div class="alert alert-danger w-100">@errorMessage</div>
        }
        <div class="g-3">
            <ActionButton Caption="Update" InActionCaption="Updating..." IsInAction="@processing"
                IsDisabled="@(!context.IsModified())" type="submit" class="btn btn-primary" />
        </div>
    </EditForm>
</div>


@code
{
    #region Constants
    private readonly int _maxTitleLength = Constants.MaxTitleLength;
    private readonly int _maxLocationLength = Constants.MaxNameLength;
    private readonly int _maxTextLength = Constants.MaxTextLength;
    #endregion
    #region Form Models
    private EditContext? editContext;

    [SupplyParameterFromForm(FormName = "ProfileForm")]
    private PersonProfile PersonProfile { get; set; } = new()
    {
        JobTitles = new string[3] { "", "", "" },
        AcceptRemote = true,
        Location = new()
        {
            Country = string.Empty,
            StateOrRegion = string.Empty,
            City = string.Empty
        },
        SalaryMin = 0,
        SalaryMax = 0,
        ExtraRequirements = ""
    };

    [Parameter]
    public int? profileId { get; set; }
    #endregion

    #region Local Variables
    [CascadingParameter]
    public MainLayout? MainLayout { get; set; }

    int personId = 0;

    PersonInfo? personInfo;

    bool processing = false;
    #endregion

    protected override void OnInitialized()
    {
        editContext = new EditContext(PersonProfile);
    }

    string? errorMessage;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity != null)
        {
            personId = int.Parse(authState.User.FindFirst(ClaimTypes.PrimarySid)?.Value!);
            var res = await HttpClient.GetAsync($"/api/person/{personId}");
            if (!res.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/logout");
            }
            else
            {
                personInfo = await res.Content.ReadFromJsonAsync<PersonInfo>();
                int pfId = profileId ?? personInfo!.Profiles?.FirstOrDefault()?.Id ?? 0;
                if (pfId == 0)
                {
                    Navigation.NavigateTo("/resume/upload");
                }
                if (MainLayout is not null)
                    MainLayout.SetPersonName(personInfo!.Name!);

                var profile = await HttpClient.GetFromJsonAsync<PersonProfile>($"/api/person/{personId}/profile/{pfId}");
                if (profile == null)
                {
                    throw new InvalidOperationException("Profile not found.");
                }
                else
                {
                    PersonProfile.Id = profile.Id;
                    PersonProfile.Name = profile.Name;
                    PersonProfile.AcceptRemote = profile.AcceptRemote;
                    PersonProfile.Location = profile.Location;
                    PersonProfile.SalaryMin = profile.SalaryMin;
                    PersonProfile.SalaryMax = profile.SalaryMax;
                    PersonProfile.ExtraRequirements = profile.ExtraRequirements;
                    for (int i = 0; i < profile.JobTitles.Length && i < PersonProfile.JobTitles.Length; i++)
                    {
                        PersonProfile.JobTitles[i] = profile.JobTitles[i];
                    }
                }
            }
        }
    }

    private async Task HandleProfileUpdate(EditContext args)
    {
        processing = true;
        var response = await HttpClient.PostAsJsonAsync($"/api/person/{personId}/profile/{PersonProfile.Id}", PersonProfile);
        if (!response.IsSuccessStatusCode)
            errorMessage = $"Error: {response.ReasonPhrase}";
        processing = false;
        editContext?.MarkAsUnmodified();
    }
}